upstream FR.com {
    server 10.12.107.22:8080 max_fails=0;
}

server {
    listen       80;
    server_name  adc.cicem.fa;
    underscores_in_headers on;
    location / {
        proxy_http_version 1.1;
        proxy_pass http://FR.com;
        proxy_next_upstream_timeout 1s;
        proxy_next_upstream http_502 http_503 http_429 error timeout invalid_header;
        proxy_redirect off;
        proxy_set_header Host $host:$server_port;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Connection "";
        proxy_read_timeout       400;
        proxy_send_timeout       400;
    }
}