filebeat.inputs:
  - type: log
    paths:
      - "/data01/nginx/log/*.log"
    multiline.pattern: '(^\d{4}-\d{1,2}-\d{1,2}|^\[)'
    multiline.negate: true
    multiline.match: after
    processors:
      - add_fields:
          target: ''
          fields:
            kubernetes.labels.app: nginx
            kubernetes.namespace: nginx
output.kafka:
  hosts: {{ groups[ 'kafka' ] | map('regex_replace', '^(.*)$','\\1:9092') | list | to_json }}
  topic: log
  required_acks: 1
  worker: 8