user nginx;
worker_processes  auto;
worker_rlimit_nofile 65535;
error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
  use epoll;
  worker_connections  65535;
}

http {
  gzip on;
  tcp_nopush on;
  tcp_nodelay on;
  server_tokens off;
  include       /etc/nginx/mime.types;
  default_type  application/octet-stream;

  log_format  main  '$time_iso8601 - $remote_addr - $host - $request - $status - $request_time - $http_referer - $upstream_response_time - $upstream_status - $upstream_addr - '
  '$body_bytes_sent - $http_user_agent - $http_x_forwarded_for';

  access_log  /var/log/nginx/access.log  main;
  proxy_next_upstream http_502 http_503 http_404 timeout error invalid_header;

  proxy_connect_timeout 10ms;

  sendfile        on;
  keepalive_timeout  65;
  client_max_body_size 100m;
  include /etc/nginx/conf.d/*.conf;
}

stream {
  upstream k8s_dashboard {
    server {{ k8s_keepalived_vip }}:30000  max_fails=0;
  }
  server {
    listen 30000;
    proxy_connect_timeout 10ms;
    proxy_timeout 300s;
    proxy_pass k8s_dashboard;
  }
}