upstream traefik {
    {% for host in groups['k8s-worker'] %}
      server {{ host }}:{{ traefik_web_port }};
    {% endfor %}
}

server {
    listen       80;
    listen  [::]:80;
    server_name  localhost;

    location / {
      proxy_pass http://traefik;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header Host $host;
    }
}
