filebeat.inputs:
  - type: log
    paths:
      - "{{ gaussdb_monitor_agent_root_dir }}/logs/gscheck/*.log"
    include_lines: [ '^{','^Check' ]
    multiline.pattern: '^Check'
    multiline.negate: false
    multiline.match: before
    multiline.flush_pattern: '{'
    json.keys_under_root: false
    json_overwrite_keys: true
    json.message_key: message_key
    fields:
      kafka_topic: 'gaussdb-gs-check-result'
  - type: log
    enabled: true
    tail_files: true
    processors:
      - add_host_metadata:
          netinfo.enabled: true
    paths:
      - "{{ gausslog }}/alarm/*/*.log"
    multiline.pattern: '\d{4}-\d{2}-\d{2}\s\d{2}:\d{2}:\d{2}'
    multiline.negate: true
    multiline.match: after
    fields:
      kafka_topic: 'gaussdb-alarm'
  - type: log
    paths:
      - "{{ gausslog }}/**/*.log"
      - "{{ gausslog }}/**/*.rlog"
      - "{{ gausslog }}/**/*.olog"
      - "{{ gausslog }}/**/*.aud"
    multiline.pattern: '(^\d{4}-\d{2}-\d{2}|^\[|^\{|^UTC)'
    multiline.negate: true
    multiline.match: after
    fields:
      kafka_topic: 'log'
    processors:
      - add_fields:
          target: ''
          fields:
            kubernetes.labels.app: gaussdb
            kubernetes.namespace: gaussdb
output.kafka:
  hosts: {{ kafka_hosts_arr }}
  topic: '%{[fields.kafka_topic]}'
  worker: 8
  required_acks: 1