#!/bin/bash

usage() {
  echo "usage: $0 start/stop/restart/check"
}

command=$1
if [ -z $command ]; then
    usage
    exit 1
fi

JAVA_HOME={{ gaussdb_jdk_dir }}
WORK_DIR={{ gaussdb_monitor_agent_root_dir }}
SPRING_CONFIG_PATH=$WORK_DIR/application.yml
JAR_PATH=$WORK_DIR/agent.jar
CHECK_URL=http://127.0.0.1:9998/monitor-client-agent/metrics

start() {
  PID=$(ps -ef | grep $JAR_PATH | grep -v grep | awk '{print $2}')
  if [[ $PID ]]; then
      echo "Agent already started"
      exit 0
  fi
  cd $WORK_DIR
  nohup $JAVA_HOME/bin/java -jar -Dspring.config.location=$SPRING_CONFIG_PATH $JAR_PATH &
  echo "Agent start success"
}

stop() {
  PID=$(ps -ef | grep $JAR_PATH | grep -v grep | awk '{print $2}')
  if [[ $PID ]]; then
      kill -9 $PID
      echo "Agent stopped"
  else
      echo "Agent not running"
  fi
}

check() {
   echo "[info]Begin to check GaussMonitorAgent...[$(date +'%F %H:%M:%S')]"  
   PID=$(ps -ef | grep $JAR_PATH | grep -v grep | awk '{print $2}')
   if [[ $PID ]];then
      echo "[info]The GaussMonitorAgent process id is:$PID,checking..."  
      HTTP_CODE=$(curl -s -o $WORK_DIR/checkState.info -m 10 $CHECK_URL -w %{http_code})
      if [ $HTTP_CODE -eq 200 ];then  
         echo "[info]The http status code is $HTTP_CODE,GaussMonitorAgent is started successfully......"  
      else  
         echo "[error]GaussMonitorAgent start failed ,the http status code is $HTTP_CODE,Try to restart"
         restart
      fi
   else
      start
   fi
}


restart() {
  stop
  start
}

if [ $command == "check" ]; then
    check
elif [ $command == "stop" ]; then
    stop
elif [ $command == "restart" ]; then
    restart
elif [ $command == "start" ]; then
    start
else usage
fi

