version: '3'
services:
  jenkins:
    image: '{{ image_repository }}/public/jenkins:2.60.3'
    container_name: jenkins
    restart: always
    network_mode: host
    volumes:
      - './data:/var/jenkins_home'
