version: '3'
services:
  redis-cluster:
    image: {{ redis_image }}
    container_name: redis-node01
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - $PWD/redis.conf:/usr/local/etc/redis/redis.conf
      - $PWD/data/:/data/
    network_mode: "host"
    restart: always
    command: redis-server /usr/local/etc/redis/redis.conf