filebeat.inputs:
  - type: log
    paths:
      - /data01/gaussdb-monitor-agent/omm3/logs/gscheck/*.log
    include_lines: [ '^{','^Check' ]
    #合并多行数据
    multiline.pattern: '^Check'
    multiline.negate: false
    multiline.match: before
    multiline.flush_pattern: '{'
    #将采集的数据转json, false 表示不提取的根目录
    json.keys_under_root: false
    #如果字段存在是否覆盖
    json_overwrite_keys: true
    json.message_key: message_key
    fields:
      kafka_topic: 'gaussdb-gs-check-result'
  - type: log
    paths:
      - /data04/gaussdb3/data/log/omm3/alarm/*/*.log
    multiline.pattern: '^\d{4}-\d{1,2}-\d{1,2}'
    multiline.negate: true
    multiline.match: after
    fields:
      kafka_topic: 'gaussdb-alarm'
output.kafka:
  hosts: [ "192.168.161.194:9092", "192.168.161.193:9092", "192.168.161.195:9092" ]
  topic: '%{[fields.kafka_topic]}'
  worker: 8
  required_acks: 1