apiVersion: v1
kind: Namespace
metadata:
  name: test
---
apiVersion: settings.k8s.io/v1alpha1
kind: PodPreset
metadata:
  name: change-timezone
  namespace: test
spec:
  selector:
    matchLabels: { }
  env:
    - name: TZ
      value: "Asia/Shanghai"
  volumeMounts:
    - name: timezone
      mountPath: /etc/localtime
  volumes:
    - name: timezone
      hostPath:
        path: /etc/localtime
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-monitoring
  namespace: test
  labels:
    app: demo-monitoring
    zone: dc1
spec:
  replicas: 1
  template:
    metadata:
      name: demo-monitoring
      labels:
        app: demo-monitoring
        zone: dc1
    spec:
      nodeSelector:
        zone: dc1
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - topologyKey: kubernetes.io/hostname
              labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - demo-monitoring
      containers:
        - name: demo-monitoring
          image: "{{ image_repository }}/public/demo-monitoring:1.0"
          imagePullPolicy: Always
          startupProbe:
            httpGet:
              port: 8080
              path: /demo-monitoring
            successThreshold: 1
            failureThreshold: 3
            initialDelaySeconds: 10
          livenessProbe:
            httpGet:
              port: 8080
              path: /demo-monitoring
            successThreshold: 1
            failureThreshold: 3
            periodSeconds: 3
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              port: 8080
              path: /demo-monitoring
            successThreshold: 1
            failureThreshold: 3
            periodSeconds: 3
            timeoutSeconds: 5
          env:
            - name: INTERVAL
              value: '50000'
            - name: IS_LOG
              value: 'false'
          resources:
            requests:
              cpu: '0.2'
              memory: 200Mi
            limits:
              cpu: '2'
              memory: 500Mi
          lifecycle:
            preStop:
              exec:
                command: [ "sleep", "30" ]
      restartPolicy: Always
      terminationGracePeriodSeconds: 40
      tolerations:
        - key: node.kubernetes.io/not-ready
          operator: Exists
          effect: NoExecute
          tolerationSeconds: 2
        - key: node.kubernetes.io/unreachable
          operator: Exists
          effect: NoExecute
          tolerationSeconds: 2
  selector:
    matchLabels:
      app: demo-monitoring
      zone: dc1
---
apiVersion: v1
kind: Service
metadata:
  name: demo-monitoring
  namespace: test
  annotations:
    maintainer: "tangjizhou@huawei.com"
    prometheus.io/tcp-probe: "true"
    prometheus.io/http-probe: "true"
    prometheus.io/http-probe-port: "8080"
    prometheus.io/http-probe-path: "/demo-monitoring/sleep/1"
    prometheus.io/scrape: "true"
    prometheus.io/port: '8080'
    prometheus.io/scheme: "http"
    prometheus.io/path: '/demo-monitoring/actuator/prometheus'
spec:
  selector:
    app: demo-monitoring
  ports:
    - port: 8080
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: demo-monitoring
  namespace: test
spec:
  entryPoints:
    - web
  routes:
    - kind: Rule
      match: PathPrefix(`/demo-monitoring/`)
      services:
        - name: demo-monitoring
          port: 8080
