#!/bin/ksh
#nohup $JAVA_HOME/bin/java -cp ./startup-*.jar {{ ravencast_xms_xmx_args }} -Dexist.start.debug=true com.ravencast.nest.start.Main messagequeue > /dev/null &
nohup java -cp ./startup-*.jar {{ ravencast_xms_xmx_args }} -Dcom.sun.management.jmxremote=true -Dcom.sun.management.jmxremote.port=29096 -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false -Dexist.start.debug=true com.ravencast.nest.start.Main messagequeue > /dev/null &
