{
  "registry-mirrors": ["https://4bd2rcxt.mirror.aliyuncs.com"],
  "insecure-registries":["10.243.36.7:80","4bd2rcxt.mirror.aliyuncs.com","docker.elastic.co","kweecr01.huawei.com:80"],
  "exec-opts": ["native.cgroupdriver=systemd"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m"
  },
  "data-root": "/data01/var/lib/docker",
  "storage-driver": "overlay2"
}
