#!/bin/ksh
#nohup $JAVA_HOME/bin/java -cp ./startup-*.jar {{ xms_xmx_args }} -Dexist.start.debug=true com.ravencast.nest.start.Main messagequeue > /dev/null &
nohup java -cp ./startup-*.jar {{ xms_xmx_args }} -Dexist.start.debug=true com.ravencast.nest.start.Main messagequeue > /dev/null &
