version: '3'
services:
  svn:
    image: "{{ image_repository }}/public/svn-server:1.0"
    container_name: svn-server
    network_mode: "host"
    volumes:
      - ./svn_repo/:/home/svn/
      - ./svn_config/:/etc/subversion/
      - /etc/localtime:/etc/localtime:ro
    restart: always