version: '3'
services:
  filebeat:
    image: "{{ image_repository }}/public/elastic/filebeat:7.13.2"
    restart: always
    volumes:
      - /home/gaussdb/data/log/omm/alarm:/home/gaussdb/data/log/omm/alarm
      - /data04/gaussdb3/data/log/omm3/alarm:/data04/gaussdb3/data/log/omm3/alarm
      - ./filebeat.yml:/usr/share/filebeat/filebeat.yml

