filebeat.inputs:
  - type: log
    tail_files: true
    paths:
      - /home/gaussdb/data/log/omm/alarm/*/*.log
      - /data04/gaussdb3/data/log/omm3/alarm/*/*.log
    multiline.pattern: '^\d{4}-\d{1,2}-\d{1,2}'
    multiline.negate: true
    multiline.match: after
#output.console:
#  pretty: true
output.kafka:
  hosts: [ "192.168.161.194:9092", "192.168.161.193:9092", "192.168.161.195:9092" ]
  topic: "gaussdb-alarm"
  worker: 8
  required_acks: 1
