filebeat.inputs:
  - type: log
    paths:
      - "/data01/fdc_log/**/*.log"
      - "/data01/r2r_log/**/*.log"
    multiline.pattern: '^\{\d{4}-\d{1,2}-\d{1,2}'
    multiline.negate: true
    multiline.match: after
    processors:
      - add_fields:
          target: ''
          fields:
            kubernetes.labels.app: fdc-service
            kubernetes.namespace: fdc
output.kafka:
  hosts: {{ groups['kafka'] | map('regex_replace', '^(.*)$','\\1:9092') | list | to_json }}
  topic: log
  worker: 8
  required_acks: 1
monitoring:
  enabled: true
  elasticsearch:
    hosts: {{ groups['es'] | map('regex_replace', '^(.*)$','\\1:9200') | list | to_json }}