apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: traefik-dashboard
  namespace: traefik
spec:
  entryPoints:
    - web
  routes:
    - kind: Rule
      match: Host(`traefik-dashboard{{ domain_suffix }}.cicem.fa`)
      services:
        - name: traefik
          port: 8080