apiVersion: v1
data: { }
kind: Secret
metadata:
  name: alertmanager-main
  namespace: monitoring
stringData:
  alertmanager.yaml: |-
    global:
      resolve_timeout: 10m
      smtp_smarthost: {{ alertmanager_smtp_server }}
      smtp_from: {{ alertmanager_smtp_from }}
      smtp_require_tls: false
      smtp_auth_username: {{ alertmanager_smtp_username }}
      smtp_auth_password: {{ alertmanager_smtp_password }}
    route:
      group_by:
        - alertname
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 12h
      receiver: app-pager
      routes:
        - receiver: database-pager
          match_re:
            service: ".*db.*"
    receivers:
      - name: app-pager
        email_configs:
          - to: {{ alertmanager_app_email_to }}
            send_resolved: true
      - name: database-pager
        email_configs:
          - to: {{ alertmanager_db_email_to }}
            send_resolved: true
type: Opaque
