apiVersion: monitoring.coreos.com/v1
kind: Alertmanager
metadata:
  labels:
    alertmanager: main
  name: main
  namespace: monitoring
spec:
  storage:
    volumeClaimTemplate:
      spec:
        storageClassName: nfs-storage
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: '{{ alertmanager_storage }}'
  image: '{{ image_repository }}/public/alertmanager:v0.20.0'
  externalUrl: "http://{{ k8s_keepalived_vip }}:30005"
  logLevel: debug
  retention: '{{ alertmanager_data_retention }}'
  nodeSelector:
    kubernetes.io/os: linux
  replicas: 1
  resources:
    limits:
      cpu: 100m
      memory: 100Mi
    requests:
      cpu: 4m
      memory: 100Mi
  securityContext:
    fsGroup: 2000
    runAsNonRoot: true
    runAsUser: 1000
  serviceAccountName: alertmanager-main
  version: v0.20.0