apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-main
  namespace: monitoring
stringData:
  alertmanager.yaml: |
    global:
      resolve_timeout: 10m
      smtp_require_tls: false
      smtp_smarthost: '{{ alertmanager_smtp_server }}'
      smtp_from: '{{ alertmanager_smtp_from }}'
      smtp_auth_username: '{{ alertmanager_smtp_username }}'
      smtp_auth_password: '{{ alertmanager_smtp_password }}'
    inhibit_rules:
      - source_match:
          alertname: BlackboxProbeFailed
        target_match_re:
          alertname: (BlackboxProbeHttpFailure|BlackboxSlowProbe|BlackboxProbeSlowHttp|BlackboxProbeSlowPing)
        equal: [ 'instance' ]
      - source_match_re:
          alertname: (KubeNodeNotReady|KubeNodeUnreachable)
        target_match_re:
          alertname: .*
        equal: [ 'node' ]
      - source_match_re:
          alertname: (KubeNodeNotReady|KubeNodeUnreachable)
        target_match_re:
          alertname: .*
        equal: [ 'nodename' ]
      - source_match:
          severity: 'critical'
        target_match:
          severity: 'warning'
        equal: [ 'alertname', 'instance', 'service' ]
    route:
      group_by:
        - alertname
        - maintainer
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 12h
      receiver: app-pager
      routes:
        - receiver: 'webhook_gauss'
          group_by: [ 'category','DbIpAndPort' ]
          group_wait: 20s
          group_interval: 5m
          repeat_interval: 24h
          match_re:
            category: gs.*
    receivers:
      - name: app-pager
        email_configs:
          - to: "{{ "{{ .GroupLabels.maintainer }}" }}"
            send_resolved: true
          - to: "{{ alertmanager_app_email_to }}"
            send_resolved: true
      - name: 'webhook_gauss'
        webhook_configs:
          - url: 'http://gaussdb{{ domain_suffix }}.cicem.fa/monitor-server/api/v1/sendGroupMail'
            send_resolved: false
type: Opaque
---
