kubectl apply -f {{ monitor_manifest_root_dir }}/setup && kubectl -n monitoring create secret generic prometheus-additional --from-file {{ monitor_manifest_root_dir }}/prometheus-additional.yaml --dry-run=client --output=yaml > prometheus-additional-secret.yaml
until kubectl get servicemonitors --all-namespaces ; do date; sleep 1; echo ""; done
kubectl apply -f {{ monitor_manifest_root_dir }}