kubectl apply -f {{ root_dir }}/setup && kubectl -n monitoring create secret generic prometheus-additional --from-file {{ root_dir }}/custom/prometheus-additional.yaml
until kubectl get servicemonitors --all-namespaces ; do date; sleep 1; echo ""; done
kubectl apply -f {{ root_dir }}