apiVersion: v1
kind: Endpoints
metadata:
  name: kafka
  namespace: monitoring
subsets:
  - addresses:
      - ip: 192.168.161.201
      - ip: 192.168.161.198
      - ip: 192.168.161.203
    ports:
      - port: 9308
---
apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: monitoring
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: '9308'
    prometheus.io/scheme: "http"
spec:
  ports:
    - port: 9308