apiVersion: v1
kind: Endpoints
metadata:
  name: ravencast-mes
  namespace: monitoring
subsets:
  - addresses:
{% for host in groups['ravencast-mes'] %}
      - ip: {{ host }}
{% endfor %}
    ports:
      - port: 10103
---
apiVersion: v1
kind: Service
metadata:
  name: ravencast-mes
  namespace: monitoring
  annotations:
    prometheus.io/tcp-probe: "true"
    prometheus.io/scrape: "true"
    prometheus.io/port: '9998'
    prometheus.io/scheme: "http"
    prometheus.io/path: '/'
spec:
  ports:
    - port: 10103
  type: ClusterIP
---
apiVersion: v1
kind: Endpoints
metadata:
  name: ravencast-mes-node-exporter
  namespace: monitoring
subsets:
  - addresses:
{% for host in groups['ravencast-mes'] %}
      - ip: {{ host }}
{% endfor %}
    ports:
      - port: 9100
---
apiVersion: v1
kind: Service
metadata:
  name: ravencast-mes-node-exporter
  namespace: monitoring
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: '9100'
    prometheus.io/scheme: "http"
spec:
  ports:
    - port: 9100
  type: ClusterIP
---
apiVersion: v1
kind: Endpoints
metadata:
  name: ravencast-mes-process-exporter
  namespace: monitoring
subsets:
  - addresses:
{% for host in groups['ravencast-mes'] %}
    - ip: {{ host }}
{% endfor %}
    ports:
      - port: 9256
---
apiVersion: v1
kind: Service
metadata:
  name: ravencast-mes-process-exporter
  namespace: monitoring
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: '9256'
    prometheus.io/scheme: "http"
spec:
  ports:
    - port: 9256
  type: ClusterIP
