{% for host in groups['ravencast-apc'] %}
apiVersion: v1
kind: Endpoints
metadata:
  name: '{{ hostvars[host].host_name }}'
  namespace: monitoring
subsets:
  - addresses:
      - ip: '{{ host }}'
        nodeName: '{{ hostvars[host].host_name }}'
    ports:
      - port: 10103
---
apiVersion: v1
kind: Service
metadata:
  name: '{{ hostvars[host].host_name }}'
  namespace: monitoring
  annotations:
    maintainer: mouyongde@cicem.fa
    prometheus.io/tcp-probe: "true"
    prometheus.io/scrape: "true"
    prometheus.io/port: '9998'
    prometheus.io/scheme: "http"
    prometheus.io/path: '/'
spec:
  ports:
    - port: 10103
  type: ClusterIP
---
{% endfor %}
---
apiVersion: v1
kind: Endpoints
metadata:
  name: jdfap-apcmq-node-exporter
  namespace: monitoring
subsets:
  - addresses:
{% for host in groups['ravencast-apc'] %}
    - ip: {{ host }}
      nodeName: {{ hostvars[host].host_name }}
{% endfor %}
    ports:
      - port: 9100
---
apiVersion: v1
kind: Service
metadata:
  name: jdfap-apcmq-node-exporter
  namespace: monitoring
  annotations:
    maintainer: mouyongde@cicem.fa
    prometheus.io/scrape: "true"
    prometheus.io/port: '9100'
    prometheus.io/scheme: "http"
spec:
  ports:
    - port: 9100
  type: ClusterIP