apiVersion: v1
kind: Endpoints
metadata:
  name: ravencast-fdc
  namespace: monitoring
subsets:
  - addresses:
{% for host in groups['ravencast-fdc'] %}
      - ip: {{ host }}
{% endfor %}
    ports:
      - port: 10103
---
apiVersion: v1
kind: Service
metadata:
  name: ravencast-fdc
  namespace: monitoring
  annotations:
    prometheus.io/tcp-probe: "true"
    prometheus.io/scrape: "true"
    prometheus.io/port: '9998'
    prometheus.io/scheme: "http"
    prometheus.io/path: '/'
spec:
  ports:
    - port: 10103
  type: ClusterIP
