{% for host in groups['rocketmq-namesrv'] %}
apiVersion: v1
kind: Endpoints
metadata:
  name: '{{ hostvars[host].host_name }}'
  namespace: monitoring
subsets:
  - addresses:
    - ip: '{{ host }}'
      nodeName: '{{ hostvars[host].host_name }}'
    ports:
      - port: 9876
---
apiVersion: v1
kind: Service
metadata:
  name: '{{ hostvars[host].host_name }}'
  namespace: monitoring
  annotations:
    maintainer: tangjizhou@cicem.fa
    prometheus.io/tcp-probe: "true"
    prometheus.io/port: '9876'
spec:
  ports:
    - port: 9876
---
{% endfor %}
---
{% for host in groups['rocketmq-broker'] %}
apiVersion: v1
kind: Endpoints
metadata:
  name: '{{ hostvars[host].host_name }}'
  namespace: monitoring
subsets:
  - addresses:
      - ip: '{{ host }}'
        nodeName: '{{ hostvars[host].host_name }}'
    ports:
      - port: 10911
---
apiVersion: v1
kind: Service
metadata:
  name: '{{ hostvars[host].host_name }}'
  namespace: monitoring
  annotations:
    maintainer: tangjizhou@cicem.fa
    prometheus.io/tcp-probe: "true"
    prometheus.io/port: '10911'
spec:
  ports:
    - port: 10911
---
{% endfor %}
---
apiVersion: v1
kind: Endpoints
metadata:
  name: rocketmq-node-exporter
  namespace: monitoring
subsets:
  - addresses:
{% for host in groups['rocketmq-namesrv'] %}
      - ip: {{ host }}
        nodeName: {{ hostvars[host].host_name }}
{% endfor %}
{% for host in groups['rocketmq-broker'] %}
      - ip: {{ host }}
        nodeName: {{ hostvars[host].host_name }}
{% endfor %}
    ports:
      - port: 9100
---
apiVersion: v1
kind: Service
metadata:
  name: rocketmq-node-exporter
  namespace: monitoring
  annotations:
    maintainer: mouyongde@cicem.fa
    prometheus.io/scrape: "true"
    prometheus.io/port: '9100'
    prometheus.io/scheme: "http"
spec:
  ports:
    - port: 9100
  type: ClusterIP