apiVersion: v1
kind: Endpoints
metadata:
  name: rocketmq
  namespace: monitoring
subsets:
  - addresses:
      - ip: '{{ groups["rocketmq-console"][0] }}'
    ports:
      - port: 9876
---
apiVersion: v1
kind: Service
metadata:
  name: rocketmq
  namespace: monitoring
  annotations:
    prometheus.io/tcp-probe: "true"
    prometheus.io/scrape: "true"
    prometheus.io/port: '5557'
    prometheus.io/scheme: "http"
spec:
  ports:
    - port: 8080
---
apiVersion: v1
kind: Endpoints
metadata:
  name: rocketmq-process-exporter
  namespace: monitoring
subsets:
  - addresses:
{% for host in groups['rocketmq-namesrv'] %}
    - ip: {{ host }}
      nodeName: {{ hostvars[host].host_name }}
{% endfor %}
{% for host in groups['rocketmq-master'] %}
    - ip: {{ host }}
      nodeName: {{ hostvars[host].host_name }}
{% endfor %}
{% for host in groups['rocketmq-slave'] %}
    - ip: {{ host }}
      nodeName: {{ hostvars[host].host_name }}
{% endfor %}
    ports:
      - port: 9256
---
apiVersion: v1
kind: Service
metadata:
  name: rocketmq-process-exporter
  namespace: monitoring
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: '9256'
    prometheus.io/scheme: "http"
spec:
  ports:
    - port: 9256
  type: ClusterIP
---
apiVersion: v1
kind: Endpoints
metadata:
  name: rocketmq-node-exporter
  namespace: monitoring
subsets:
  - addresses:
{% for host in groups['rocketmq-namesrv'] %}
    - ip: {{ host }}
      nodeName: {{ hostvars[host].host_name }}
{% endfor %}
{% for host in groups['rocketmq-master'] %}
    - ip: {{ host }}
      nodeName: {{ hostvars[host].host_name }}
{% endfor %}
{% for host in groups['rocketmq-slave'] %}
    - ip: {{ host }}
      nodeName: {{ hostvars[host].host_name }}
{% endfor %}
    ports:
      - port: 9100
---
apiVersion: v1
kind: Service
metadata:
  name: rocketmq-node-exporter
  namespace: monitoring
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: '9100'
    prometheus.io/scheme: "http"
spec:
  ports:
    - port: 9100
  type: ClusterIP
---
apiVersion: v1
kind: Endpoints
metadata:
  name: rocketmq-namesrv
  namespace: monitoring
subsets:
  - addresses:
{% for host in groups['rocketmq-namesrv'] %}
      - ip: {{ host }}
        nodeName: {{ hostvars[host].host_name }}
{% endfor %}
    ports:
      - port: 9876
---
apiVersion: v1
kind: Service
metadata:
  name: rocketmq-namesrv
  namespace: monitoring
  annotations:
    prometheus.io/tcp-probe: "true"
    prometheus.io/port: '9876'
spec:
  ports:
    - port: 9876
---
apiVersion: v1
kind: Endpoints
metadata:
  name: rocketmq-node
  namespace: monitoring
subsets:
  - addresses:
{% for host in groups['rocketmq-master'] %}
      - ip: {{ host }}
        nodeName: {{ hostvars[host].host_name }}
{% endfor %}
{% for host in groups['rocketmq-slave'] %}
      - ip: {{ host }}
        nodeName: {{ hostvars[host].host_name }}
{% endfor %}
    ports:
      - port: 10911
---
apiVersion: v1
kind: Service
metadata:
  name: rocketmq-node
  namespace: monitoring
  annotations:
    prometheus.io/tcp-probe: "true"
    prometheus.io/port: '10911'
spec:
  ports:
    - port: 10911