version: '3'
services:
  process-exporter:
    image: '{{ image_repository }}/public/process-exporter:0.7.5'
    restart: always
    network_mode: host
    privileged: true
    command: [ "--procfs=/host/proc", "-config.path=/config/config.yaml" ]
    volumes:
      - /proc:/host/proc
      - ./config:/config