driftfile /var/lib/ntp/ntp.drift
statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable
#使用上级始终源
#server {{ ntp_server }} prefer
server 10.13.253.13
# 当前服务器可以被当做时钟源
restrict default mask 0.0.0.0 nomodify
restrict 127.0.0.1
restrict ::1