version: '3'
services:
  elasticsearch:
    image: '{{ image_repository }}/public/elasticsearch:7.16.2'
    network_mode: host
    restart: always
    environment:
      ES_JAVA_OPTS: '{{ es_java_opts }}'
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - "{{ es_root_dir }}/data:/usr/share/elasticsearch/data"
      - "{{ es_root_dir }}/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml"
  elasticsearch-exporter:
    image: '{{ image_repository }}/public/elasticsearch-exporter:v1.2.1'
    command:
      - '--es.uri=http://localhost:9200'
    restart: always
    network_mode: host
    depends_on:
      - elasticsearch
