version: '3'
services:
  elasticsearch:
    image: "{{ image }}"
    network_mode: host
    restart: always
    environment:
      ES_JAVA_OPTS: {{ es_java_opts }}
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - "{{ root_dir }}/data:/usr/share/elasticsearch/data"
      - "{{ root_dir }}/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml"
