cluster.name: "{{ es_cluster_name }}"
node.name: {{ host_name }}
network.host: 0.0.0.0
network.publish_host: {{ ansible_ssh_host }}
discovery.seed_hosts: {{ groups['es'] | to_json }}
bootstrap.memory_lock: true
xpack.monitoring.collection.enabled: true
cluster.initial_master_nodes: {{ groups['es'] | to_json }}
xpack.license.self_generated.type: basic
xpack.security.enabled: false