{
  "index_patterns": [
    "log-*"
  ],
  "settings": {
    "number_of_replicas": "{{ es_log_replicas }}",
    "number_of_shards": "{{ es_log_shards }}",
    "refresh_interval": "30s",
    "index.translog.durability": "async",
    "index.translog.sync_interval": "30s",
    "index.translog.flush_threshold_size": "1gb"
  }
}