brokerClusterName=CIMCluster
brokerName={{ broker_name }}
brokerId=0
deleteWhen=04
fileReservedTime=168
brokerRole=SYNC_MASTER
flushDiskType=SYNC_FLUSH

##namesrvAddr
namesrvAddr={% for host in groups['rocketmq-namesrv'] %}{{ host }}:9876{% if not loop.last %};{% endif %}{% endfor %}

##Broker
listenPort=10911
fetchNamesrvAddrByAddressServer = false
autoCreateTopicEnable = false

#default 4M
maxMessageSize = 2097152
defaultTopicQueueNums = 4

#brokerIP1
brokerIP1 = {{ ansible_ssh_host }}
brokerIP2 = {{ ansible_ssh_host }}

#storePathRootDir-storePathCommitLog
storePathRootDir = {{ mq_data_root_dir }}/store
storePathCommitLog = {{ mq_data_root_dir }}/store/commitlog
