filebeat.inputs:
  - type: log
    paths:
      - "/data01/ravencast/temp/*.log"
      - "/data01/ravencast/temp/*.out"
    multiline.pattern: '\s*(INFO|WARN|ERROR)'
    multiline.negate: true
    multiline.match: after
    processors:
      - add_fields:
          target: ''
          fields:
            kubernetes.labels.app: ravencast
            kubernetes.namespace: "{{ group_names[0].split('-')[1] }}"
output.kafka:
  hosts: {{ kafka_hosts_arr }}
  topic: log
  required_acks: 1
  worker: 8