version: '3'
services:
  zookeeper:
    user: root
    image: "{{ zookeeper_image }}"
    network_mode: host
    restart: always
    environment:
      ZOO_MY_ID: "{{ groups['kafka'].index(inventory_hostname) }}"
      ZOO_SERVERS: "{% for host in groups['kafka'] %}server.{{ groups['kafka'].index(host)|string +'='+ host +':2888:3888;2181'}} {% endfor %}"
    volumes:
      - "{{ kafka_root_dir }}/zookeeper/data:/data"
      - "{{ kafka_root_dir }}/zookeeper/datalog:/datalog"
      - "{{ kafka_root_dir }}/zookeeper/conf:/conf"
  kafka:
    user: root
    image: "{{ kafka_image }}"
    network_mode: host
    restart: always
    environment:
      KAFKA_ADVERTISED_PORT: 9092
      DOCKER_API_VERSION: 1.22
      KAFKA_BROKER_ID: "{{ groups['kafka'].index(inventory_hostname) }}"
      KAFKA_ADVERTISED_HOST_NAME: "{{ ansible_ssh_host }}"
      KAFKA_ZOOKEEPER_CONNECT: "{{ groups['kafka'] | map('regex_replace', '^(.*)$','\\1:2181') | join(',') }}"
      KAFKA_HEAP_OPTS: {{ kafka_heap_opts }}
      KAFKA_NUM_PARTITIONS: 9
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://{{ ansible_ssh_host }}:9092
      KAFKA_NUM_NETWORK_THREADS: 9
      KAFKA_NUM_IO_THREADS: 16
      KAFKA_LOG_RETENTION_BYTES: 10737418240
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "{{ kafka_root_dir }}/kafka:/kafka"



