! Configuration File for keepalived

global_defs {
   router_id LVS_DEVEL
}

vrrp_script health_check {
    #判断haproxy进程是否存在，如果haproxy不存在，当前keepalived进程优先级降低
    script "{{ health_check_script }}"
    interval 3
    weight -2
    fall 10
    rise 2
}

vrrp_instance VI_1 {
    state {{ MASTER_BACKUP }}
{% for ip in keepalived_vrrp_instance_interface %}
    interface {{ ip }}   
{% endfor %}
    virtual_router_id {{ keepalived_virtual_router_id }}
    priority 250
    nopreempt
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 35f18af7190d51c9f7f78f37300a0cbd
    }
    virtual_ipaddress {
       {{ keepalived_vip }}
    }
    track_script {
       health_check
    }
}
