#!/bin/sh
if [ -z "`docker ps | grep 'nginx:' | grep 'Up' `" ]; then
  echo "exit 1"
  exit 1
fi
ping -c 1 {{ gateway_addr }} > /dev/null 2>&1
if [ $? -ne 0 ];then
  systemctl restart keepalived
  exit 1
fi