apiVersion: v1
kind: Namespace
metadata:
  name: plantu
---
apiVersion: settings.k8s.io/v1alpha1
kind: PodPreset
metadata:
  name: change-timezone
  namespace: plantu
spec:
  selector:
    matchLabels: {}
  env:
    - name: TZ
      value: "Asia/Shanghai"
  volumeMounts:
    - name: timezone
      mountPath: /etc/localtime
  volumes:
    - name: timezone
      hostPath:
        path: /etc/localtime
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: plantu-admin
  namespace: plantu
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: plantu-admin-rolebinding
  namespace: plantu
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: admin
subjects:
  - kind: ServiceAccount
    name: plantu-admin
    namespace: plantu
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: plantu-admin-view-namespace
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view-namespaces
subjects:
  - kind: ServiceAccount
    name: plantu-admin
    namespace: plantu
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: plantu-admin-view-crd-resources
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view-crd-resources
subjects:
  - kind: ServiceAccount
    name: plantu-admin
    namespace: plantu
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: crd-object-admin
  namespace: plantu
rules:
  - verbs:
      - create
      - delete
      - update
      - list
      - get
      - watch
    apiGroups:
      - '*'
    resources:
      - ingressroutes
      - ingressroutetcps
      - ingressrouteudps
      - middlewares
      - servicemonitors
      - alertmanagers
      - prometheusrules
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: plantu-crd-object-admin
  namespace: plantu
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: crd-object-admin
subjects:
  - kind: ServiceAccount
    name: plantu-admin
    namespace: plantu

---
apiVersion: v1
kind: Secret
metadata:
  name: harbor
  namespace: plantu
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "{{ image_repository }}": {
          "username": "{{ harbor_pull_account }}",
          "password": "{{ harbor_pull_password }}",
          "auth": "{{ haror_auth_plaintext | b64encode }}"
        }
      }
    }
type: kubernetes.io/dockerconfigjson