apiVersion: v1
kind: Namespace
metadata:
  name: sdr
---
apiVersion: settings.k8s.io/v1alpha1
kind: PodPreset
metadata:
  name: change-timezone
  namespace: sdr
spec:
  selector:
    matchLabels: {}
  env:
    - name: TZ
      value: "Asia/Shanghai"
  volumeMounts:
    - name: timezone
      mountPath: /etc/localtime
  volumes:
    - name: timezone
      hostPath:
        path: /etc/localtime
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: sdr-admin
  namespace: sdr
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: sdr-admin-rolebinding
  namespace: sdr
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: admin-upgrade-only
subjects:
  - kind: ServiceAccount
    name: sdr-admin
    namespace: sdr
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: sdr-admin-view-namespace
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view-namespaces
subjects:
  - kind: ServiceAccount
    name: sdr-admin
    namespace: sdr
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: sdr-admin-view-crd-resources
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view-crd-resources
subjects:
  - kind: ServiceAccount
    name: sdr-admin
    namespace: sdr
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: crd-object-admin
  namespace: sdr
rules:
  - verbs:
      - create
      - delete
      - update
    apiGroups:
      - '*'
    resources:
      - ingressroutes
      - ingressroutetcps
      - ingressrouteudps
  - verbs:
      - list
      - get
      - watch
    apiGroups:
      - '*'
    resources:
      - ingressroutes
      - ingressroutetcps
      - ingressrouteudps
      - middlewares
      - servicemonitors
      - alertmanagers
      - prometheusrules
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: sdr-crd-object-admin
  namespace: sdr
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: crd-object-admin
subjects:
  - kind: ServiceAccount
    name: sdr-admin
    namespace: sdr
---
apiVersion: v1
kind: Secret
metadata:
  name: harbor
  namespace: sdr
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "{{ image_repository }}": {
          "username": "{{ sdr_harbor_account }}",
          "password": "{{ sdr_harbor_password }}",
          "auth": "{{ sdr_haror_auth_plaintext | b64encode }}"
        }
      }
    }
type: kubernetes.io/dockerconfigjson
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: guest
  namespace: sdr
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: guest
  namespace: sdr
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: namespace-resource-guest
subjects:
  - kind: ServiceAccount
    name: guest
    namespace: sdr
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: guest
  namespace: sdr
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-resource-guest
subjects:
  - kind: ServiceAccount
    name: guest
    namespace: sdr