[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
Restart=on-failure
ExecStart=/data01/prometheus/prometheus --config.file=/data01/prometheus/prometheus.yml --storage.tsdb.path=/data01/prometheus/data

[Install]
WantedBy=multi-user.target