{
  "registry-mirrors": ["https://o7p6ymvq.mirror.aliyuncs.com"],
  "insecure-registries":["192.168.160.249:8888","docker.elastic.co","kweecr01.huawei.com:80"],
  "exec-opts": ["native.cgroupdriver=systemd"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m"
  },
  "data-root": "/data01/var/lib/docker",
  "storage-driver": "overlay2"
}
